article.item
article.laby-endpoint
  header <a href="#"><img src="images/LABYS_STATIC_ENDPOINT.jpg" alt="" /></a>
    h3 The Static Endpoint
  p Statically serving files in the <code>laby/www</code> folder, at <code>http://LABY_HOST/antenna/api/flowers</code>
  ul.actions
    li <a href="#{laby_static_antenna_link}" class="button">Access The Endpoint</a>
