footer#footer
  ul.icons
    li <a href="https://github.com/Jean-Baptiste-Lasselle/laby" class="icon fa-github"><span class="label">Twitter</span></a>
    li <a href="https://gitlab.com/pegasus.devops" class="icon fa-gitlab"><span class="label">Twitter</span></a>
    li <a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
  p.copyright &copy; Laby Server Home Page. HTML/CSS Design from a template by <a href="https://templated.co">TEMPLATED</a>.
  Credits and thanks for Photos:
  ul
    li <a href="https://unsplash.com/@zoltantasi">@zoltantasi</a> on <a href="https://unsplash.com">Unsplash</a>
    li <a href="https://unsplash.com/@marius">@marius</a> on <a href="https://unsplash.com">Unsplash</a>
    li <a href="https://unsplash.com/@westbeach013">@westbeach013</a> hosted at <a href="https://unsplash.com">Unsplash</a>
