doctype html
html
  include index.html/includes/head.pug
  body
    <header id="header" class="alt">
      <div class="inner">
        <h1>The Laby Server</h1>
        <p>The Laby Server devops tool (the way you do the things you do)</p>
      </div>
    </header>

    // <!-- Wrapper -->
    div#wrapper
      include index.html/includes/intro.pug
      section.main.items.laby-endpoints
        include index.html/includes/antenna-static-endpoint.pug
        include index.html/includes/antenna-rest-api-enpoint.pug
        include index.html/includes/footer.pug

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
