article.item.laby-endpoint
  header <a href="#"><img src="images/LABYS_FLOWERS_RESTAPI_ENDPOINT.jpg" alt="" /></a>
    h3 The Flowers REST API Endpoint
  p Provides a REST API endpoint at  <code>http://`$LABY_HOST`/antenna/api/flowers</code>
  ul.actions
    li <a href="${laby_restapi_antenna_link}" class="button">Access The Endpoint</a></li>
