section#intro
section.main
  <span class="icon fa-ils major"></span>
  <h2>The Laby Server</h2>
  p A tool designed by <a href="${laby_dev_team_github_social}">Jean-Baptiste Lasselle <span class="icon fa-github"></span></a>
  ul.actions
     li <a href="${laby_s_would_you_like_to_know_more}" class="button big">Learn More</a>
section#cta
section.main
section.special
  h2 What is Laby?
  p Laby Is just a simple HTTP server :
    ul
      li statically serving files in the <code>laby/www</code> folder, at <code>http://`$LABY_HOST`/antenna/api/flowers</code>
      li Soon providing a websocket endpoint at  <code>http://LABY_HOST/antenna/websocket/flowers</code>
      li providing a REST API endpoint at  <code>http://LABY_HOST/antenna/api/flowers</code>

      ul
        li Those endpoints can be customized and redeployed on-the-fly, to make what I call grope tests, a devops things
        li I especially use it in docker environements, to determine whether the problem came from the software, from the infrastructure, or even better, from both
